.page {
    width: auto; 
    height: max-content;
    background-color: white;
}
.educationContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.educationContainer::after {
    background-color: black;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.educationCard {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
}

.educationCard:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    margin-right: 300px;
    padding-left: 10px;
    padding-right: 0px;
}

.educationCard:nth-child(even) {
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 300px;
    padding-left: 10px;
    padding-right: 0px;
}

.educationCard {
    flex-direction: column;
    text-align: center;
    font-family: SF Pro Text,Helvetica Neue,sans-serif;
    box-sizing: border-box;
    border: solid;
    border-radius: 16px;
    height: min-content;
    position: relative;
    width: 350px;
    margin-bottom: 40px;
    background-color: white;
}

#title {
    font-size: 20px;
    font: bold;
    padding: 5px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 15px;
}

.educationCard:nth-child(odd) #title {
    text-align: left;
}

#time {
    font-size: 17px;
    font: bold;
    padding: 5px;
    text-align: right;
    margin-right: 15px;
}

.educationCard:nth-child(odd) #time {
    text-align: left;
}

#gpa {
    font-size: 17px;
    font: bold;
    padding: 5px;
    text-align: right;
    margin-right: 15px;
}

.educationCard:nth-child(odd) #gpa {
    text-align: left;
}

#description {
    font-size: 16px;
    font: normal;
    text-align: right;
    margin-right: 15px;
}

.educationCard:nth-child(odd) #description {
    text-align: left;
}

.circle {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -122px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.educationCard:nth-child(odd) .circle {
    right: 439.5px;
}
