.page {
    width: auto; 
    height: max-content;
    background-color: white;
}
.educationContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2% 0;
}

.educationContainer::after {
    background-color: black;
    content: '';
    position: absolute;
    left: calc(50%);
    width: 0.25%;
    height: 100%;
}

.educationCard {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 2%;
    margin: 1% 0;
    width: 50%;
}

.educationCard:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
		margin-right: calc(19.69%);
    /* margin-right: 300px; */
    padding-left: 2%;
    padding-right: 0%;
}

.educationCard:nth-child(even) {
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: calc(19.9%);
		/* margin-left: 300px; */
    padding-left: 2%;
    padding-right: 0%;
}

.educationCard {
    flex-direction: column;
    text-align: center;
    font-family: SF Pro Text,Helvetica Neue,sans-serif;
    box-sizing: border-box;
    border: solid;
    border-radius: 10%;
    height: min-content;
    position: relative;
    width: 23.25%;
    margin-bottom: 2%;
    background-color: white;
}

#title {
    font-size: 120%;
    font: bold;
    padding: 0.5%;
    text-transform: uppercase;
    text-align: right;
    margin-right: 1%;
}

.educationCard:nth-child(odd) #title {
    text-align: left;
}

#time {
    font-size: 1.5%;
    font: bold;
    padding: 1%;
    text-align: right;
    margin-right: 1.5%;
}

.educationCard:nth-child(odd) #time {
    text-align: left;
}

#gpa {
    font-size: 100%;
    font: bold;
    padding: 1%;
    text-align: right;
    margin-right: 1%;
}

.educationCard:nth-child(odd) #gpa {
    text-align: left;
}

#description {
    font-size: 100%;
    font: normal;
    text-align: right;
    margin-right: 1.5%;
}

.educationCard:nth-child(odd) #description {
    text-align: left;
}

.circle {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: calc(50%);
		right: -35%;
    width: 5.7%;
		aspect-ratio: 1 / 1;
    z-index: 100;
}

.educationCard:nth-child(odd) .circle {
    right: 126%;
}

.educationCard:nth-child(even) .circle {
    left: 126%;
}