#projectMap {
    display: flex;
    justify-content: space-evenly;
}

.projectCards {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6%;
    font-family: SF Pro Text,Helvetica Neue,sans-serif;
    box-sizing: border-box;
    padding: 40px; 
    box-shadow: 18px 20px 40px rgba(0,0,0,.21);
    border-radius: 16px;
    min-height: 400px;
    width: 25%;
    margin-bottom: 40px;
    background-color: lightgrey;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 25;
}
